<mat-card>
  <mat-tab-group>
    <mat-tab label="Stark">
      <ul>
        <li>Sansa Stark</li>
        <li>Aria Stark</li>
        <li>Ned Stark</li>
      </ul>
    </mat-tab>
    <mat-tab label="Targaryen">
      <ul>
        <li>Daenerys Targaryen</li>
        <li>Egon Targaryen</li>
        <li>Rhaegar Targaryen</li>
      </ul>
    </mat-tab>
    <mat-tab label="Lannister">
      <ul>
        <li>Tyrion Lannister</li>
        <li>Cersei Lannister</li>
        <li>Jaime Lannister</li>
      </ul>
    </mat-tab>
  </mat-tab-group>
</mat-card>
